/* ---- Variables ---- */

.murty {
  --highlight-colour: #23c5b0;
  --background-colour: #191919;
  --foreground-colour: #fff;
  --secondary-colour: #111;
}

.brendan {
  --highlight-colour: #23c5b0;
  --background-colour: #191919;
  --foreground-colour: #fff;
  --secondary-colour: #aaa;
}

.freya {
  --highlight-colour: #981ceb;
  --secondary-colour: #fff;
  --background-colour: #f7f7f7;
  --foreground-colour: #171d1c;
}

.isla {
  --highlight-colour: #14b3fb;
  --secondary-colour: #fff;
  --background-colour: #f7f7f7;
  --foreground-colour: #171d1c;
}

.gallery {
  --highlight-colour: #23c5b0;
  --background-colour: #000000;
  --foreground-colour: #fff;
  --secondary-colour: #a1a1a1;
}
