/* ---- Brendan ---- */

/* Layout */

.brendan {
  background-color: var(--background-colour);
  color: var(--foreground-colour);
  min-width: 300px;
}

.brendan a {
  color: var(--highlight-colour);
  border-color: transparent;
}

.brendan a:focus,
.brendan a:hover {
  border-color: var(--highlight-colour);
}

.brendan ::-moz-selection,
.brendan ::selection {
  background: var(--highlight-colour);
  color: var(--secondary-colour);
  text-shadow: none
}

.brendan #container {
  width: 100%;
  max-width: none;
}

.brendan article {
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  float: none;
  height: 100%;
  overflow-y: auto;
  max-width: 1000px;
  margin: 0 auto;
}

/* Header */

.brendan header {
  padding: 2%;
  float: left;
  width: 100%;
  box-sizing: border-box;
  background-color: #000;
}

.brendan header h1 {
  font-size: 45px;
  line-height: 150px;
  height: 150px;
  width: 100%;
  margin: 0 auto;
  float: none;
  padding: 0 2%;
  max-width: 1000px;
  box-sizing: border-box;
}

.brendan header h1 a {
  border-bottom: none;
  color: var(--foreground-colour);
  display: block;
}

.brendan header h1 .avatar {
  float: left;
  margin-right: 30px;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.brendan nav.breadcrumbs {
  width: 100%;
  margin: 2% auto 0;
  float: none;
  padding: 0 2%;
  max-width: 1000px;
  box-sizing: border-box;
}

/* Content */

.brendan_index p:first-child {
  font-size: 28px;
  line-height: 42px;
}

ul.brendan_posts {
  list-style: none outside none;
  margin-left: 0;
}

ul.brendan_posts li {
  margin: 0 0 10px;
}

ul.brendan_posts .post-date {
  width: 115px;
  color: var(--secondary-colour);
  display: inline-block;
}

.brendan_post article img {
  clear: both;
  display: block;
}

.brendan h1,
.brendan h2,
.brendan h3,
.brendan h4,
.brendan h5 {
  color: var(--foreground-colour);
}

.brendan pre,
.brendan blockquote {
  color: var(--secondary-colour);
  background-color: #000;
}

/* Footer */

.brendan footer {
  color: #666;
  font-style: italic;
}

/* Content lists */

.brendan ul.social{
  margin: 40px 0 0;
}

.brendan ul.social li {
  list-style: none outside none;
  float: left;
  text-align: center;
  margin-right: 20px;
  padding: 0;
  width: 22%;
  min-width: 140px;
  height: 100px;
}

.brendan ul.social a {
  width: 100%;
  float: left;
  border: none;
  padding: 10px;
  line-height: 40px;
}

.brendan ul.social a span {
  float: left;
  margin-left: 12px;
  border-bottom: 1px solid transparent;
}

.brendan ul.social a:focus span,
.brendan ul.social a:hover span {
  border-color: var(--highlight-colour);
}

.brendan ul.social svg {
  width: 40px;
  height: 40px;
  float: left;
}

/* Resume page */

.brendan_resume article h3{margin:30px 0 0;width:180px;float:left;display:table-cell;clear:left;text-transform:uppercase;font-size:18px;font-weight:bold}
.brendan_resume article h3.nomargin{margin:0}
.brendan_resume article h4{margin:0}
.brendan_resume article ul{margin:0;padding:0;display:table-cell}
.brendan_resume article p{clear:none;margin:0;padding:0 0 20px;display:table-cell}
.brendan_resume article li{color:var(--secondary-colour);list-style:none outside none;margin:0;padding:0;display:table-row}
.brendan_resume article strong{color:var(--foreground-colour);font-style:normal;clear:right;display:block;margin:30px 0 10px}
.brendan_resume article em{color:var(--foreground-colour);clear:right;display:block;font-size:16px;font-style:normal;margin:-5px 0 10px}
.brendan_resume article em a,.brendan_resume article em a:active,.brendan_resume article em a:focus,.brendan_resume article em a:hover{color:var(--foreground-colour)}
.brendan_resume article em a:focus,.brendan_resume article em a:hover{border-color:var(--foreground-colour)}
.brendan_resume article blockquote{padding:0;margin:0;width:auto;display:table-row;background-color:transparent;font-style:italic}
.brendan_resume article blockquote p:last-child{padding-bottom:0}

/* Git page */

.brendan_git #repos-list a {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.brendan_git #repos-list a:hover {
	color: #23c5b0;
	background-color: #333;
}

.brendan_git #repos-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.brendan_git #repos-list li {
	display: inline;
}

.brendan_git #repos-list li a {
	position: relative;
	display: block;
	line-height: 20px;
	padding: 15px 25px;
	overflow: hidden;
}

.brendan_git #repos-list li:nth-child(odd) a {
	background-color: #222;
}

.brendan_git #repos-list li a:hover {
	background-color: #333;
}

.brendan_git #repos-list li a > b {
	color: #23c5b0;
}

.brendan_git #repos-list li.fork a:before {
	font-size: 18px;
	color: #aaa;
	content: '\2646';
	position: absolute;
	left: 5px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.brendan_git #repos-list li a .desc {
	color: #ccc;
	display: block;
	line-height: 1.3em;
	margin-top: 0.5em;
}

.brendan_git #repos-list #projects-info,
.brendan_git #repos-list li a .info {
	float: right;
	clear: right;
}

.brendan_git #repos-list b.stars,
.brendan_git #repos-list b.forks {
	font-weight: bold;
	display: inline-block;
}

.brendan_git #repos-list b.stars:before,
.brendan_git #repos-list b.forks:before {
	display: inline-block;
	font-size: 14px;
	width: 20px;
	text-align: center;
}

.brendan_git #repos-list b.stars:before {
	content: '\2605';
}

.brendan_git #repos-list b.forks:before {
	content: '\2646';
}

/* Alterations for certain screen sizes */

@media only screen and (max-width:760px) {
	ul.brendan_posts .post-date {
    display: block;
    width: auto;
  }

	.brendan_resume article h3,.brendan_resume article p,.brendan_resume article ul{display:block;width:auto;clear:both}
	.brendan_resume article p{margin-top:30px;padding:0;float:left}
	.brendan_resume article blockquote p{margin-top:0}
}

@media only screen and (max-width:600px) {
  .brendan header {
    height: 240px;
  }
  
  .brendan header h1 {
    line-height: 70px;
    text-align: center;
  }

  .brendan header h1 .avatar {
    clear: right;
    display: block;
    float: none;
    margin: 0 auto;
  }
  
  .brendan nav.breadcrumbs {
    display: none;
  }

	ul.post-listing li.featured .image{display:none}
	ul.post-listing li.featured .info{max-width:100%;margin-left:0}
	article img{max-width:100%}
	footer .about{margin:0 0 5%}
}

/* Print styles */

@media print {
  .brendan,
  .brendan header h1 a,
  .brendan h1,
  .brendan h2,
  .brendan h3,
  .brendan h4,
  .brendan h5,
  .brendan_resume article * {
    color: #000 !important;
    background: transparent !important;
  }

  .brendan_resume {
    overflow-x: hidden;
  }

  .brendan_resume article {
    margin: 0;
    padding: 0 2%;
    width: 100%;
  }

  .brendan_resume article a:after {
    content: " " attr(href) " ";
    font-size: 0.75em;
    font-weight: normal;
    font-style: italic;
  }

  .brendan_resume article blockquote {
    width: 70%;
    max-width: 70%;
  }
}
