/* ---- Gallery ---- */

/* Layout */

.gallery {
  background-color: var(--background-colour);
  color: var(--foreground-colour);
  min-width: 400px;
}

.gallery article {
  width: 90%;
  padding: 0;
  margin-right: 5%;
}

.gallery a {
  color: var(--highlight-colour);
  border-color: transparent;
}

.gallery a:focus,
.gallery a:hover {
  border-color: var(--highlight-colour);
}

.gallery ::-moz-selection,
.gallery ::selection {
  background: var(--highlight-colour);
  color: var(--secondary-colour);
  text-shadow: none
}

.gallery header {
  padding: 3% 0 3% 5%;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.gallery header h1 {
  display: none;
}

.gallery nav.breadcrumbs {
  margin: 0;
}

/* Image List */

.gallery-images {
  width: 95%;
  margin: 2% 0 0 5%;
  padding: 0;
  list-style: none outside none;
}

.gallery-list-item {
  float: left;
  margin: 0 5% 5% 0;
  width: 30%;
  max-width: 400px;
}

.gallery-list-item:nth-child(3n) {
  margin-right: 0;
}

.gallery-item {
  width: 95%;
  margin-left: 5%;
}

a.gallery-list-link {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 0px;
  min-height: 150px;
}

a.gallery-list-link:hover,
a.gallery-list-link:focus {
  border-color: transparent;
}

a.gallery-list-link:hover .gallery-image,
a.gallery-list-link:focus .gallery-image {
  opacity: 0.6;
}

.gallery-image {
  width: 100%;
}

.gallery-meta {
  display: block;
  clear: both;
  width: 100%;
  color: var(--secondary-colour);
  font-size: 80%;
}

@media only screen and (max-width:1000px) {
  .gallery-list-item .gallery-meta {
    display: none;
  }
}
