/* ---- Gallery ---- */

/* Layout */

.gallery {
  background-color: var(--background-colour);
  color: var(--foreground-colour);
  min-width: 400px;
}

.gallery article {
  width: 90% !important;
  padding: 0 0 5% 5% !important;
}

.gallery a {
  color: var(--highlight-colour);
  border-color: transparent;
}

.gallery a:focus,
.gallery a:hover {
  border-color: var(--highlight-colour);
}

.gallery ::-moz-selection,
.gallery ::selection {
  background: var(--highlight-colour);
  color: var(--secondary-colour);
  text-shadow: none
}

.gallery header {
  padding: 30px 0 0 5%;
}

.gallery header h1 a {
  border-bottom: none;
  color: var(--foreground-colour);
  display: block;
}

.gallery nav.sites {
  color: var(--highlight-colour);
  background-color: var(--background-colour);;
}

.gallery nav.sites .current_site img {
  border-color: var(--highlight-colour);
}

/* Image List */

.gallery-images {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none outside none;
  display: flex;
}

.gallery-item {
  float: left;
  margin: 5% 5% 0 0;
  width: 28%;
}

.gallery-item-full {
  width: 100%;
  margin: 20px 0 0;
}

.gallery-item-link {
  display: block;
}

.gallery-image {
  width: 100%;
}

.gallery-meta {
  display: block;
  clear: both;
  width: 100%;
  color: var(--secondary-colour);
  font-size: 80%;
}
