/* ---- Gallery ---- */

/* Layout */

.gallery {
  background-color: var(--background-colour);
  color: var(--foreground-colour);
  min-width: 400px;
}

.gallery article {
  width: 90% !important;
  padding: 0 0 5% 5% !important;
}

.gallery a {
  color: var(--highlight-colour);
  border-color: transparent;
}

.gallery a:focus,
.gallery a:hover {
  border-color: var(--highlight-colour);
}

.gallery ::-moz-selection,
.gallery ::selection {
  background: var(--highlight-colour);
  color: var(--secondary-colour);
  text-shadow: none
}

.gallery header {
  padding: 30px 0 0 5%;
}

.gallery header h1 a {
  border-bottom: none;
  color: var(--foreground-colour);
  display: block;
}

.gallery nav.sites {
  color: var(--highlight-colour);
  background-color: var(--background-colour);;
}

.gallery nav.sites .current_site img {
  border-color: var(--highlight-colour);
}

/* Image List */

.gallery-images {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none outside none;
  display: flex;
  flex-wrap: wrap;
}

.gallery-list-item {
  float: left;
  flex-grow: 1;
  margin: 2% 2% 0 0;
  width: 31%;
}

.gallery-item {
  width: 100%;
  margin: 20px 0 0;
}

a.gallery-list-link {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 0px;
  background-color: var(--secondary-colour);
  min-height: 100px;
}

a.gallery-list-link:hover,
a.gallery-list-link:focus {
  border-color: transparent;
}

a.gallery-list-link:hover .gallery-image,
a.gallery-list-link:focus .gallery-image {
  opacity: 0.6;
}

.gallery-image {
  width: 100%;
}

.gallery-meta {
  display: block;
  clear: both;
  width: 100%;
  color: var(--secondary-colour);
  font-size: 80%;
}

@media only screen and (max-width:1000px) {
  .gallery-list-item .gallery-meta {
    display: none;
  }
}
